.footer {
    padding: 25px;
    color: var(--c1);
    font-weight: bolder;
    text-align: center;
}

.footer p {
    text-align: center;
    font-size: 1.2em;
    text-decoration: none;
}

.footer a {
    text-align: center;
    font-size: 1.2em;
    text-decoration: none;
    color: var(--c2)
}