@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --bk: rgb(36, 36, 36);
  --bk2: rgb(41, 41, 41);
  --c1: white;
  --c2: purple;
}

[data-theme='dark']{
  --bk: rgb(187, 187, 187);
  --bk2: rgb(185, 185, 185);
  --c1: rgb(0, 0, 0);
}

body {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0px;
  color: var(--c1);
  background-color: var(--bk);
}

.nav-space {
  margin-bottom: 50px;
}

.container {
  min-height: calc(100vh - 20px);
}