.team-title {
  margin-bottom: 30px;
  max-width: 1030px;
  padding: 18px;
  padding-bottom: 12px;
  margin: auto;
  text-align: center;
  color: var(--c1);
  margin-top: 8px;
  margin-bottom: 8px;
}

.team {
  max-width: 200px;
  padding: 3px;
  padding-bottom: 12px;
  margin: auto;
  text-align: center;
  color: var(--c1);
  margin-top: 3px;
  margin-bottom: 3px;
  box-shadow: 0px 0px 0px 1px var(--c1);
}

.team h1 {
    font-size: 1.9em;
}

.team p1 {
    font-size: 1.0em;
}

