.terms {
  margin-bottom: 30px;
  max-width: 1030px;
  padding: 18px;
  padding-bottom: 12px;
  margin: auto;
  text-align:justify;
  color: var(--c1);
  margin-top: 8px;
  margin-bottom: 8px;
}

.terms h2 {
  color: var(--c1);
  font-size: 50px;
}

.terms a {
  color: var(--c1);
  text-decoration: none;
}
