@import "./terms.css";

.menu-title {
    padding: 14px;
    background-color: var(--bk2);
    box-shadow: 3px 3px 3px 3px var(--c1);
    border-radius: 6px;
    margin-bottom: 16px;
    cursor: pointer;
}

.menu-title > h2, h4 {
    color: var(--c1);
}

.menu-content {
    display: none;
    animation: smooth-slide 120ms ease-in-out;
}