.home {
    max-width: 630px;
    padding: 6px;
    margin: auto;
    margin-top: 28vh;
    font-size: 20px;
    text-align: center;
}

.home > div.buttons {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
}

.home > div.buttons > button {
    color: var(--c1);
    font-weight: 400;
    padding: 10px;
    margin-right: 10px;
    border: none;
    font-size: 1.3em;
    background-color: var(--bk);
    border-radius: 5px;
    box-shadow: 0px 0px 0px 1px var(--c1);
    transition-duration: 450ms;
}

.home > div.buttons > button:hover {
    font-size: 1.4em;
    padding: 11px;
    background-color: var(--c2);
    box-shadow: 0px 0px 0px 1px var(--c1);
}